---
layout: default
---
{% include ad.html %}
<main class="content" role="main">
  
  <article class="post">
    <div class="post-meta">
      <h1 class="post-title">{{ page.title }}</h1>
    </div>

    <section class="post-content">
      <a name="topofpage"></a>
      {{content}}
      <p>
        <a href='https://ad1uqnq.blogspot.com' title='ad'><amp-img src="https://img.uqnq.my.id/ad1.png" width="400" height="400" layout="responsive"></amp-img></a> 
        
      {{ page.title }} - Makna dasar dan psikologi memimpikan seorang pencuri<br />
maling<br />
Simbol "pencuri" dalam mimpi<br />
Saat anda memikirkan seorang pencuri, sesuatu yang penting dicuri, jadi jika anda memimpikan seorang pencuri dalam mimpi anda, anda akan merasa tidak enak. Ada berbagai pola meskipun itu adalah impian pencuri.<br />
<br />
Jika sesuatu dicuri oleh pencuri, mimpi itu akan memberi tahu Anda bahwa keberuntungan Anda meningkat, atau Anda mungkin mendapat masalah.<br />
<br />
Bahkan dalam mimpi pencuri, jika Anda menjadi pencuri, di mana pencuri itu masuk, atau apa yang dicuri, hasil ramalan mimpi akan berubah, jadi kami akan memperkenalkannya dengan pola.<br />
<br />
Arti mimpi pencuri secara spiritual<br />
maling<br />
Jika Anda bermimpi ada sesuatu yang dicuri oleh pencuri dalam mimpi Anda, Anda akan merasa tidak enak. Namun, arti mimpi pencuri mencuri sesuatu memiliki arti sebaliknya.<br />
<br />
Kenyataannya, itu sering kali berarti ada acara bahagia atau penghasilan tambahan .<br />
<br />
Mimpi dirampok<br />
maling<br />
Keadaan psikologis anda saat ini ketika anda bermimpi menjadi pencuri melambangkan kecemasan akan kehilangan sesuatu yang penting . Apakah ada hal-hal penting yang kemungkinan besar akan hilang saat ini?<br />
<br />
Hal-hal bukanlah satu-satunya hal yang penting. Orang-orang penting di sekitar Anda tidak dianggap remeh. Pikirkan tentang hal-hal penting dan orang-orang di sekitar Anda .<br />
<br />
Dan hargai itu lebih dari yang Anda lakukan sekarang.<br />
<br />
Mimpi dicuri oleh pencuri<br />
wanita yang dompetnya dicuri<br />
Arti mimpi dicuri pencuri artinya adalah kamu<br />
<br />
Penghasilan tambahan dari sumber tak terduga<br />
menerima hadiah dari orang yang tidak terduga<br />
dll tersirat. atau,<br />
<br />
Sekarang aku jatuh cinta dengan seseorang yang tidak pernah aku bayangkan<br />
Masalah terpecahkan dan peristiwa keberuntungan datang<br />
Ini memberi tahu saya bahwa keberuntungan Anda akan meningkat di masa depan .<br />
<br />
Cobalah untuk mengingat siapa pencuri dalam mimpimu itu . Jika pencuri dalam mimpimu adalah seseorang yang kamu kenal, kamu akan menjadi lebih dekat dengan kenalan itu di masa depan dan memperdalam ikatanmu.<br />
<br />
Mimpi dicuri oleh pencuri<br />
maling<br />
Pakaian dalam mimpi melambangkan peran sosial anda dan citra lahiriah anda terhadap orang lain.<br />
<br />
Jika Anda bermimpi pakaian Anda dicuri oleh pencuri, itu adalah pemberitahuan bahwa masalah yang Anda derita sekarang akan teratasi . Anda mungkin merasa stres dan khawatir setiap hari.<br />
<br />
Namun, yakinlah bahwa mimpi pakaianmu dicuri oleh pencuri adalah mimpi yang bagus . Anda akan terlepas dari stress masalah yang anda miliki sekarang dan rejeki anda akan naik lebih dari sekarang.<br />
<br />
Namun, semakin tinggi status sosial Anda saat ini , semakin besar kemungkinan Anda kehilangan sesuatu .<br />
<br />
Atau jika anda memiliki banyak harta, mimpi itu menyiratkan bahwa anda akan kehilangan sesuatu yang anda miliki sekarang. Mari kita coba lagi untuk memahami di mana Anda berada sekarang.<br />
<br />
Jika Anda bermimpi pencuri mencuri pakaian Anda, sepertinya lebih baik diam sebentar, buat keputusan dengan tenang dan ambil tindakan .<br />
<br />
Mimpi dicuri oleh pencuri<br />
pencuri mobil<br />
Jika seorang pencuri mencuri mobil Anda, itu masalah besar. Mobil itu mahal, dan itu adalah barang nyaman yang memungkinkan Anda bergerak ke mana pun Anda mau. Sangat mengejutkan bermimpi bahwa mobil seperti itu dicuri.<br />
<br />
Namun, arti mobil dalam mimpi melambangkan kekuatan untuk mengendalikan diri . Atau bagaimana Anda bisa bergerak menuju tujuan yang Anda tuju saat ini<br />
<br />
Mimpi dicuri oleh pencuri<br />
maling<br />
Jika kamu bermimpi seorang pencuri mencuri uang kamu, kamu akan merasa sangat buruk. Tapi tidak apa-apa! Mimpi pencuri mencuri uang seringkali merupakan mimpi terbalik .<br />
<br />
Apa itu mimpi buruk...<br />
Untuk benar-benar mendapatkan penghasilan tambahan, atau mengalami hal-hal beruntung yang tidak pernah Anda pikirkan.<br />
<br />
Tapi masih terlalu dini untuk bersantai. Pikirkan kembali mimpi Anda tentang seorang pencuri yang mencuri uang Anda. Jika mimpi yang Anda lihat adalah citra negatif secara keseluruhan, Anda harus berhati-hati .<br />
<br />
Mimpi itu mungkin memberi tahu Anda bahwa sesuatu yang buruk mungkin terjadi di lingkungan Anda . Pikirkan gambaran keseluruhan dari mimpi di mana seorang pencuri mencuri uang Anda.<br />
<br />
Jika Anda memiliki citra negatif, silakan periksa apakah ada masalah di sekitar Anda.<br />
<br />
Mimpi dicuri oleh pencuri<br />
telah dompet saya dicuri<br />
Anda tidak akan merasa baik jika seorang pencuri merampok sesuatu yang Anda hargai dalam mimpi Anda. Bahkan di dunia nyata, kamu tidak bisa tidak khawatir bahwa sesuatu yang sangat penting akan dicuri darimu.<br />
<br />
Arti mimpi pencuri mencuri sesuatu yang penting menyiratkan bahwa kamu mungkin terlibat dalam masalah atau kecelakaan yang tidak dapat dihindari .<br />
<br />
Apakah ada sesuatu di sekitar Anda yang tampaknya berkembang menjadi masalah? Bahaya selalu mengintai dalam kehidupan sehari-hari. Harap perhatikan baik-baik dan berhati-hatilah agar tidak mendapat masalah.<br />
<br />
Mimpi rumah kosong<br />
pencuri diam-diam<br />
Arti mimpi dibobol maling adalah kamu takut kehilangan sesuatu yang penting .<br />
<br />
Atau, jika Anda bermimpi menjadi pencuri, itu berarti Anda ingin mendapatkannya dengan cara apa pun.<br />
<br />
Cobalah untuk mengingat kembali apa yang Anda lihat dalam mimpi Anda. Mimpi harus memberi tahu Anda bagaimana perasaan Anda sekarang dan apa yang Anda pikirkan dan rasakan .<br />
<br />
Mimpi dirampok<br />
perampokan<br />
Ini masalah besar jika Anda benar-benar dirampok. Akan tetapi, arti mimpi dirampok memiliki arti bahwa anda akan mencuri hal-hal buruk yang ada di sekitar anda .<br />
<br />
Ini adalah mimpi yang baik yang berarti bahwa Anda tidak akan terlibat dalam masalah dan masalah yang Anda derita saat ini, dan keberuntungan Anda akan menuju ke arah yang baik .<br />
<br />
Bagi wanita yang menginginkan anak, itu juga bisa menjadi pengumuman kehamilan . Mimpi dirampok mungkin sama benarnya dengan mimpi yang sangat menakutkan saat anda melihatnya.<br />
<br />
Arti mimpi dirampok sebenarnya berarti kamu harus berhati-hati, jadi tolong coba ingat-ingat bagaimana rasanya dalam mimpi dirampok.<br />
<br />
Mimpi bertemu pencuri<br />
maling<br />
Jika Anda bertemu dengan pencuri, Anda akan takut dan panik. Bermimpi bertemu dengan pencuri atau bertemu dengan pencuri berarti anda akan kehilangan kesempatan .<br />
<br />
Ketika kesempatan besar muncul dengan sendirinya kepada Anda, Anda mungkin melewatkannya karena Anda terlalu teralihkan perhatiannya untuk menyadarinya.<br />
<br />
Mereka yang siap memanfaatkan peluang terbaik adalah mereka yang mempersiapkan jauh-jauh hari. Mimpi itu memberi tahu Anda untuk tetap waspada, bersiap, dan memanfaatkan peluang .<br />
<br />
Mimpi bertemu pencuri di depan pintu<br />
maling<br />
Mimpi itu memberi tahu Anda bahwa Anda akan mendapat masalah dalam waktu dekat jika Anda bermimpi bertemu dengan seorang pencuri di pintu depan .<br />
<br />
Dan masalahnya terkait dengan orang-orang yang biasanya menganggap Anda tidak pandai dalam hal itu . Pernahkah Anda terlibat dalam masalah dengan seseorang yang menurut Anda tidak Anda kuasai?<br />
<br />
Sepertinya itu akan berkembang menjadi semacam masalah di masa depan, jadi sepertinya lebih baik menjaga jarak dan tidak terlibat dengan orang yang tidak pandai .<br />
<br />
Mimpi berkelahi dengan pencuri<br />
wanita melawan pencuri<br />
Jika Anda bermimpi melawan pencuri, Anda harus sangat berani. Jika Anda memiliki mimpi seperti itu, keadaan Anda saat ini penuh energi .<br />
<br />
Pasti sulit untuk mencapai apa yang Anda tuju saat ini dan impian Anda. Namun, Anda baik-baik saja sekarang karena Anda memiliki energi untuk mengatasi segala kesulitan yang Anda temui .<br />
<br />
Atau mungkin Anda memiliki rasa keadilan yang sangat kuat saat ini . Tidak peduli berapa banyak yang tepat untuk Anda, apakah itu baik-baik saja untuk orang-orang di sekitar Anda?<br />
<br />
Sama seperti orang memiliki nilai yang berbeda, apa yang benar mungkin berbeda dari orang ke orang. Anda penuh dengan energi yang termotivasi saat ini, tetapi Anda tampaknya kurang fokus pada lingkungan Anda .<br />
<br />
Tolong pikirkan apakah Anda telah menjadi sedikit tenang dan merasa benar sendiri di sini. Dengan memperluas wawasan Anda, kekayaan Anda akan semakin meningkat.<br />
<br />
Mimpi pencuri melarikan diri<br />
orang yang melarikan diri<br />
Jika anda bermimpi seorang pencuri melarikan diri, mimpi itu memperingatkan anda bahwa anda akan kehilangan sesuatu yang anda sayangi dengan cara yang tidak terduga .<br />
<br />
Atau mereka memberi tahu Anda bahwa Anda tidak menghargai apa yang seharusnya Anda hargai. Bukan hanya hal-hal yang penting, tetapi juga orang-orangnya.<br />
<br />
Apakah Anda tidak berpikir bahwa lingkungan saat ini alami untuk Anda sekarang?<br />
Apakah Anda merawat barang-barang yang Anda gunakan setiap hari dengan baik?<br />
Sekali lagi, Anda mungkin ingin mempertimbangkan kembali hal-hal dan orang-orang di sekitar Anda serta mempertimbangkan kembali nilai-nilai Anda .<br />
<br />
Anda mungkin dapat menyadari bahwa ada banyak hal penting di sekitar Anda dan Anda berada di lingkungan yang bahagia.<br />
<br />
Mimpi dirampok<br />
pencuri diam-diam<br />
Anda sangat beruntung jika Anda bermimpi bahwa Anda akan dirampok, tetapi Anda tidak dirampok. Mimpi itu memberi tahu Anda tentang keberuntungan Anda .<br />
<br />
Jika Anda mengkhawatirkan sesuatu saat ini, jangan khawatir. Bahkan jika Anda merasa tidak nyaman, itu akan menjadi perjuangan untuk mengatasinya. Semuanya harus berjalan lancar .<br />
<br />
Mimpi menangkap pencuri<br />
pencuri ditangkap<br />
Jika anda bermimpi menangkap pencuri, mimpi itu memberi tahu anda bahwa anda dapat melindungi barang dan orang yang anda sayangi sekarang.<br />
<br />
Atau, itu menyiratkan bahwa apa yang Anda takuti atau khawatirkan sekarang akan teratasi . Tidak apa-apa jika Anda khawatir tidak dapat menyelesaikan hal-hal yang Anda takuti dan khawatirkan saat ini.<br />
<br />
Saya yakin Anda bisa mengatasinya. Sejumput adalah kesempatan! Seperti kata pepatah, masalah yang Anda miliki sekarang adalah ujian bagi Anda untuk tumbuh sebagai manusia.<br />
<br />
Mimpi pencuri ditangkap polisi<br />
menangkap<br />
Arti mimpi pencuri tertangkap polisi adalah kamu<br />
<br />
Persahabatan<br />
Hubungan nyonya<br />
hubungan cinta<br />
kehidupan sehari-hari dan pribadi<br />
Artinya Anda akan terbebas dari kekhawatiran seperti . Apa yang mengganggumu saat ini? Tolong jangan terlalu memikirkannya sekarang. Mimpi itu memberi tahu kita bahwa kita akan dibebaskan dari masalah nanti.<br />
<br />
mimpi pencuri pakaian dalam<br />
Cucian<br />
Jika Anda memimpikan seorang pencuri pakaian dalam, itu mewakili menceritakannya kepada orang lain.perasaan Anda yang sebenarnya bahwa Anda tidak ingin orang lain tahu bahwa Anda<br />
<br />
Apakah Anda siapa Anda sebenarnya ketika Anda berinteraksi dengan orang lain? Anda mungkin belum menunjukkan kepada siapa pun seperti apa penampilan Anda sekarang.<br />
<br />
Kamu pasti stress karena belum bisa menunjukkan perasaan dan penampilan kamu yang sebenarnya. Pertama-tama, merupakan ide yang bagus untuk mengungkapkan isi hati Anda sedikit demi sedikit dari orang yang dekat .<br />
<br />
Tanpa diduga, ini bisa menjadi kesempatan bagus untuk mengembangkan hubungan yang lebih dalam dan lebih baik daripada hubungan yang Anda bangun sekarang.<br />
<br />
Mimpi pencuri memasuki rumah<br />
rumah orang tua<br />
Jika Anda bermimpi bahwa seorang pencuri masuk ke rumah Anda, itu juga merupakan simbol ketakutan Anda bahwa Anda tidak akan lagi memiliki tempat di mana Anda dapat mengekspresikan diri atau tempat di mana Anda dapat merasa aman dan terjamin .<br />
<br />
Berbicara tentang "rumah", menurut saya itu adalah tempat di mana banyak orang merasa aman. Apalagi bagi mereka yang tinggal di luar rumah orang tuanya, saya rasa mereka sangat berterima kasih kepada rumah orang tuanya.<br />
<br />
Akan sangat mengerikan jika seorang pencuri masuk ke tempat yang begitu damai. Di mana Anda merasa paling damai saat ini? Jangan takut Anda tidak akan memiliki tempat untuk beristirahat, tetapi lebih hargai itu .<br />
<br />
Dengan begitu, Anda tidak perlu khawatir tidak punya tempat istirahat.<br />
<br />
Mimpi menyingkirkan pencuri<br />
melarikan diri<br />
Arti mimpi menyingkirkan pencuri berarti kamu dapat melindungi barang-barang penting kamu . Apa yang paling Anda hargai sekarang? Ada banyak hal penting, bukan hanya barang.<br />
<br />
Setiap orang, seperti keluarga Anda, teman dekat, atau kekasih, selalu memiliki sesuatu yang penting bagi mereka. Apa yang paling Anda hargai saat ini adalah apa yang Anda lindungi dengan kemauan keras dan upaya harian Anda.<br />
<br />
Tapi jangan terlalu terjebak di sini. Mimpi itu memberi tahu anda bahwa anda dapat terus melindungi hal-hal penting di sekitar anda dalam keadaan anda saat ini .<br />
<br />
Mimpi tentang rumah yang dihancurkan oleh pencuri<br />
maling<br />
Arti mimpi rumah dirampok maling memang tidak membuat anda merasa senang, padahal mimpi itu baik sebagai arti mimpi . Jika kamu bermimpi ada sesuatu yang dicuri, itu pertanda bahwa kekhawatiran kamu akan teratasi .<br />
<br />
Namun, jika rumahnya hanya dirusak dan tidak ada yang dicuri, itu memiliki arti yang berbeda.<br />
<br />
Jika rumah Anda baru saja dibobol oleh pencuri<br />
Mimpi itu memperingatkan bahwa sesuatu akan terjadi yang akan membuat pikiran Anda lengah.<br />
<br />
“Rumah” yang muncul dalam mimpi ini adalah lambang keberuntungan anda . Jika Anda bermimpi bahwa rumah Anda dihancurkan,<br />
<br />
Masalah dalam hubungan interpersonal<br />
gagal dalam bekerja<br />
Dll Ini menyiratkan bahwa keberuntungan Anda lamban .<br />
<br />
Jika Anda terus mengalami masalah, hati Anda tidak akan tenang. Jangan terburu-buru sekarang, benamkan diri Anda dalam hobi Anda, hirup udara alami, dan istirahatlah dengan baik.<br />
<br />
Sangat penting untuk mengubah pola pikir Anda dan berpikir positif .<br />
<br />
Mimpi berteriak dengan pencuri<br />
wanita yang berteriak<br />
Mimpi itu memberi tahu anda bahwa anda stres ketika anda bermimpi berteriak “Pencuri!” Pencuri dalam mimpi ini merupakan simbol stres.<br />
<br />
Semakin keras Anda berteriak , "Pencuri!", semakin banyak stres yang Anda rasakan . Apakah ada sesuatu yang membuat Anda stres saat ini?<br />
<br />
Silakan beristirahat di sini. Harap segarkan suasana hati Anda dengan melakukan sesuatu yang Anda sukai untuk perubahan.<br />
<br />
Mimpi dibunuh oleh pencuri<br />
pencuri dengan pisau<br />
Sangat menakutkan jika anda mengalami mimpi dibunuh oleh pencuri. Bahkan jika itu mimpi, saya khawatir hal ini atau hal buruk lainnya akan terjadi.<br />
<br />
Akan tetapi, mimpi dibunuh oleh pencuri mengandung arti bahwa rejeki anda akan naik .<br />
<br />
Dalam cerita seram, saat kamu dibunuh oleh pencuri dalam mimpi<br />
<br />
Mimpi mati dengan banyak darah<br />
Tanpa diduga, mungkin ada penghasilan tambahan.<br />
<br />
Anda mungkin merasa tidak enak mengalami mimpi buruk di pagi hari, tapi jangan khawatir, mimpi itu berarti kekayaan finansial Anda meningkat .<br />
<br />
Mimpi pencuri dengan banyak orang<br />
perampokan<br />
Itu adalah mimpi yang tidak mungkin nyata, seperti pencuri dengan banyak orang, dan ini seperti dunia drama. Itu tidak mungkin dalam kenyataan, tetapi memiliki arti yang sangat bagus sebagai mimpi.<br />
<br />
Arti bermimpi pencuri dengan banyak orang juga merupakan petunjuk bahwa kamu akan menghadapi peluang besar dalam bisnis .<br />
<br />
Jika Anda mencuri dan berhasil<br />
Anda akan mendapatkan banyak keuntungan dari pekerjaan Anda.<br />
<br />
Ketika perampokan gagal<br />
Anda mungkin tidak dapat memanfaatkan peluang yang datang kepada Anda, atau Anda mungkin melewatkannya.<br />
<br />
Coba ingat lagi mimpimu. Jika itu adalah mimpi keberuntungan, pikirkan tentang bagaimana memanfaatkan peluang yang akan datang di masa depan dan membuat bisnis sukses.<br />
<br />
Jika itu adalah mimpi yang sayangnya gagal dicuri, pikirkan bagaimana peluang yang akan muncul di masa depan akan datang dan bagaimana berhasil tanpa menyia-nyiakannya.<br />
<br />
mimpi menjadi pencuri<br />
maling<br />
bermimpi menjadi pencuri ulung<br />
Jika Anda bermimpi bahwa Anda adalah seorang pencuri hebat, Anda mungkin mengatakan kepada saya bahwa moral Anda sedang menurun sekarang . Apakah Anda saat ini melakukan sesuatu yang tidak bermoral?<br />
<br />
Moral berubah sesuai dengan nilai-nilai orang, lingkungan, dan keadaan. Namun, jika Anda memakai akhlak yang salah, Anda tidak akan bisa lolos hanya dengan mempermalukan diri sendiri di kemudian hari.<br />
<br />
Anda mungkin mengganggu orang-orang di sekitar Anda . Tampaknya lebih baik untuk mempertimbangkan kembali tindakan Anda saat ini dan mengenakan moral yang benar.<br />
<br />
Dengan mengenakan moral yang benar, Anda akan dapat melihat hal-hal yang belum pernah Anda lihat sebelumnya dan tumbuh sebagai pribadi.<br />
<br />
Mimpi menjadi komplotan pencuri<br />
Jika anda bermimpi menjadi anggota pencuri, itu menyiratkan bahwa anda tidak puas dengan kehidupan sehari-hari anda yang tidak berubah .<br />
<br />
Dan Anda frustrasi karena Anda tidak dapat mengubah status quo . Alternatifnya, itu juga bisa menjadi tanda ketidakpuasan Anda dengan kenyataan bahwa Anda tidak dapat mengambil tindakan meskipun Anda ingin mengubah situasi saat ini.<br />
<br />
Bukankah membosankan menjalani kehidupan yang damai? Merupakan hal yang membahagiakan juga bisa hidup tanpa berubah bahkan dalam kehidupan sehari-hari yang sama setiap hari.<br />
<br />
Silakan lihat kembali kehidupan sehari-hari yang menurut Anda membosankan sekarang . Anda harus menyadari bahwa kehidupan sehari-hari saat ini tidak tergantikan dan penting.<br />
<br />
Mimpi menjadi pencuri<br />
pencuri tertangkap<br />
Arti mimpi menjadi pencuri dan gagal menyiratkan bahwa kamu memiliki masalah . Pernahkah Anda merasa khawatir atau stres?<br />
<br />
Tampaknya sulit untuk menyelesaikan apa yang Anda khawatirkan saat ini . Sepertinya Anda harus berurusan dengan masalah itu untuk waktu yang lama, jadi sebaiknya bersiaplah.<br />
<br />
Cobalah untuk melepaskan stres Anda tanpa berpikir terlalu banyak .<br />
<br />
Mimpi tertangkap sebagai pencuri<br />
Jika kamu bermimpi menjadi pencuri dan tertangkap, itu menyiratkan bahwa kamu bosan dengan kehidupan sehari-hari kamu saat ini .<br />
<br />
Sekarang Anda ingin membangun stimulasi baru dan hubungan interpersonal baru. Tetapi hati nurani dan moral Anda menghalangi Anda untuk mengambil tindakan.<br />
<br />
Apakah kehidupan sehari-hari Anda benar-benar biasa sekarang? Saya sangat senang bisa menghabiskan hari-hari saya dengan ketenangan pikiran . Silakan lihat kembali kehidupan sehari-hari Anda, hubungan interpersonal, dan persahabatan.<br />
<br />
Lingkungan Anda harus penuh dengan hal-hal dan orang-orang yang luar biasa.<br />
<br />
ringkasan<br />
Saya meringkas mimpi si pencuri berdasarkan pola. Bagaimana itu? “Pencuri” yang muncul dalam mimpi adalah simbol kesulitan dan stres, dan berarti peningkatan keberuntungan.<br />
<br />
Bahkan mimpi pencuri yang sama bisa menjadi mimpi baik atau mimpi peringatan . Pikirkan kembali mimpi pencuri yang kamu lihat dan periksa lagi
      
    </section>
     <ul>
        {% assign posts = site.posts | where_exp:"post", "post.url != page.url" | sample:10 %}
        {% for post in posts %}
          {% include related-post.html %}
        {% endfor %}
      </ul>
    
    <footer class="post-footer">
      
    </footer>
    <div class="bottom-teaser cf">
      <div class="isLeft">
        <h5 class="index-headline featured"><span>Written by</span></h5>
        <section class="author">
          <div class="author-image"></div>
          <h4>{{ site.name }}</h4>
          <p class="bio">{{site.bio}}</p>

          <p>
            <span>
              {% if site.github_username %}
                {% include icon-github.html username=site.github_username %}
              {% endif %}
            </span>

            <span>
              {% if site.twitter_username %}
                {% include icon-twitter.html username=site.twitter_username %}
              {% endif %}
            </span>
          </p>
          <hr>
          <p class="published">Published <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time></p>
        </section>
      </div>
      <div class="isRight">
 
      </div>
    </div>
  </article>
</main>
